/* movies section */

.movies {
  background: var(--background) !important;
  color: var(--colorWhite);
}

.movies-hero h1 {
  font-size: 4rem;
  font-weight: 600;
}

.movies-hero p {
  font-size: 0.8rem;
}

/* action-movies section */

.movies-geners {
  background: var(--background) !important;
  /* border-top: var(--colorGray) 5px solid; */
  color: var(--colorWhite);
}

/* movies-ui */

.movies-ui {
  width: 9rem;
  background: var(--background) !important;
}

.movies-img {
  width: 10rem;
  background: var(--background) !important;
  /* border: var(--colorGray) solid 1px !important; */
}

.movies-ui .rate {
  color: var(--colorRed);
  font-weight: 600;
}

/* slick */

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-dots button:before {
  color: var(--colorWhite) !important;
}

/* lists section */

.lists {
  background: var(--colorBlack) !important;
  /* border-top: var(--colorGray) 5px solid; */
  color: var(--colorWhite);
}

.lists h1 {
  font-size: 5rem;
  font-weight: 600;
}

.lists-des {
  font-size: 1.5rem;
  font-weight: 600;
}

.lists-btn {
  outline: none;
  border: none;
  background: var(--colorBlue);
  color: var(--colorWhite);
}

.lists-btn:hover {
  background: var(--colorRed);
}

.list {
  border: none !important;
  /* background: linear-gradient(
    to bottom right,
    rgba(34, 34, 34, 0.279),
    var(--colorGray)
  ); */
  background: none !important;
}

/* lists section */

.hd {
  background: var(--colorBlack) !important;
  /* border-top: var(--colorGray) 5px solid; */
  color: var(--colorWhite);
}

.uhd {
  border: none !important;
  background: linear-gradient(
    to bottom right,
    rgba(34, 34, 34, 0.279),
    var(--colorGray)
  );
}

.hd-card {
  color: var(--colorBlue);
  font-size: 3rem;
  font-weight: 600;
  width: 40%;
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .movie-info {
    height: 7rem;
  }
}

@media only screen and (max-width: 768px) {
  .movie-info {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 576px) {
  .movies-hero h1 {
    font-size: 2rem;
    font-weight: 400;
  }

  .movies-hero p {
    font-size: 0.9rem;
    font-style: italic;
  }

  .movies-ui {
    width: 6rem;
  }

  .movies-ui img {
    width: 5rem;
  }
}
